
.save-button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: rgb(8, 177, 62);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.cancel-button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #6c757d;
  color: rgb(198, 27, 27);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
