.note-box {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}
delete-button {
  background-color: #dad5d6;
  color: rgb(205, 37, 37);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}